<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="https://www.springframework.org/schema/context"
	xmlns:p="https://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<util:list list-class="java.util.ArrayList" id="phones">
		<value>5469874563</value>
		<value>7896541235</value>
		<value>9874563215</value>
	</util:list>
	<util:set set-class="java.util." id="skills1">
		<value>java</value>
		<value>javascript</value>
	</util:set>
	<bean name="employee" class="com.excel.collection.Employee">
		<property name="name" value="Chethan"></property>
		<!--<property name="phones">
			<list>
				<value>5469874563</value>
				<value>7896541235</value>
				<value>9874563215</value>
			</list>
		</property>-->
		<property name="phones" ref="phones"></property>
		<property name="skills" ref="skills1"></property>

		<!--	<property name="skills">
			<list>
				<value>java</value>
				<value>javascript</value>
			</list>
		</property>-->

		<property name="nominees">
			<map>
				<entry key="father" value="100"></entry>
			</map>
		</property>
	</bean>
</beans>