<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context 
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/util 
                           http://www.springframework.org/schema/util/spring-util.xsd">

    <!-- List of phone numbers -->
    <util:list list-class="java.util.ArrayList" id="phones">
        <value>5469874563</value>
        <value>7896541235</value>
        <value>9874563215</value>
    </util:list>

    <!-- Set of skills -->
    <util:set set-class="java.util.HashSet" id="skills1">
        <value>java</value>
        <value>javascript</value>
    </util:set>

    <!-- Employee bean definition -->
    <bean id="employee" class="com.excel.collection.Employee">
        <property name="name" value="Chethan" />
        <property name="phones" ref="phones" />
        <property name="skills" ref="skills1" />
        <property name="nominees">
            <map>
                <entry key="father" value="100" />
            </map>
        </property>
    </bean>
</beans>
